In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [2]:
url = "http://218.248.6.43:8080/CountWhatYouEat/vitamincontentfoods.do?d-16460-p=1"
response = requests.get(url)

In [3]:
soup = BeautifulSoup(response.content, "html.parser")

In [5]:
table = soup.find("table", {"id": "ite"})

In [6]:
rows = table.find_all("tr")
for row in rows:
    cells = row.find_all("td")
    for cell in cells:
        print(cell.text)

BAJRA
132
0.3
0.3
2.3
45.5
14.7
0.0
0.0
BARLEY
10
0.5
0.2
5.4
0.0
0.0
0.0
0.0
ITALIAN MILLET
32
0.6
0.1
3.2
15.0
4.2
0.0
0.0
JOWAR
47
0.4
0.1
3.1
20.0
14.0
0.0
0.0
MAIZE,dry
90
0.4
0.1
1.8
20.0
14.0
0.0
0.0
MAIZE, tender
32
0.1
0.2
0.6
0.0
0.0
6.0
0.0
PANIVARAGU
0
0.2
0.2
2.3
0.0
0.0
0.0
748.0
RAGI
42
0.4
0.2
1.1
18.3
5.2
0.0
0.0
RICE, parboiled, handpounded
9
0.3
0.1
4.0
0.0
0.0
0.0
0.0
RICE, parboiled,milled
0
0.2
0.1
3.8
11.0
8.9
0.0
0.0
RICE, raw, handpounded
2
0.2
0.2
3.9
0.0
0.0
0.0
77.0
RICE, raw, milled
0
0.1
0.1
1.9
8.0
4.1
0.0
0.0
RICE, bran
0
2.7
0.5
29.8
0.0
0.0
0.0
0.0
RICE, flakes
0
0.2
0.1
4.0
0.0
0.0
0.0
0.0
RICE, puffed
0
0.2
0.0
4.1
0.0
0.0
0.0
0.0
SAMAI
0
0.3
0.1
3.2
9.0
2.2
0.0
0.0
SANWA MILLET
0
0.3
0.1
4.2
0.0
0.0
0.0
0.0
VARAGU
0
0.3
0.1
2.0
23.1
7.4
0.0
0.0
WHEAT, bulgar (parboiled)
0
0.7
0.1
4.8
0.0
0.0
0.0
206.0
WHEAT, whole
64
0.5
0.2
5.5
36.6
14.2
0.0
0.0
WHEAT, flour(whole)
29
0.5
0.2
4.3
35.8
12.1
0.0
0.0
WHEAT, flour(refined)
25
0.1
0.1
2.4
0.0
0.0
0.0
0.0
WHEAT, germ
0
1.4
0.5
2.9
0.0
0.0
0.0
0.0
WHEAT, semolina
0
0.1
0.0
1.6
0.0
0.0
0.0
0.0
WHEAT, vermicelli
0
0.2
0.1
1.8
0.0
0.0
0.0
0.0
WHEAT, bread, (brown)
0
0.2
0.0
2.5
0.0
0.0
0.0
0.0
WHEAT, bread, (white)
0
0.1
0.0
0.7
0.0
0.0
0.0
0.0
BENGAL GRAM, whole
189
0.3
0.1
2.9
186.0
34.0
3.0
194.0
BENGAL GRAM, dhal
129
0.5
0.2
2.4
147.5
32.0
1.0
0.0
BENGAL GRAM, roasted
113
0.2
0.0
1.3
139.0
22.0
0.0
0.0
BLACK GRAM, dhal
38
0.4
0.2
2.0
132.0
24.0
0.0
206.0
COWPEA
12
0.5
0.2
1.3
133.0
69.0
0.0
202.0
FIELD BEAN, dry
0
0.5
0.2
1.8
0.0
0.0
0.0
352.0
GREEN GRAM, whole
94
0.5
0.3
2.1
0.0
0.0
0.0
167.0
GREEN GRAM, dhal
49
0.5
0.2
2.4
140.0
24.5
0.0
0.0
HORSE GRAM, whole
71
0.4
0.2
1.5
0.0
0.0
1.0
0.0
KHESARI, dhal
120
0.4
0.2
2.9
0.0
0.0
0.0
0.0
LENTIL
270
0.5
0.2
2.6
36.0
14.5
0.0
299.0
MOTH BEANS
9
0.5
0.1
1.5
0.0
0.0
2.0
0.0
PEAS green
83
0.3
0.0
0.8
0.0
0.0
9.0
20.0
PEAS, dry
39
0.5
0.2
3.4
7.5
4.6
0.0
235.0
PEAS, roasted
18
0.5
0.2
3.5
0.0
0.0
0.0
0.0
RAJMAH
0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
RED GRAM, dhal
132
0.5
0.2
2.9
103.0
19.0
0.0
183.0
RED GRAM, tender
469
0.3
0.3
3.0
0.0
0.0
25.0
72.0
SOYABEAN
426
0.7
0.4
3.2
100.0
8.7
0.0
0.0
AGATHI
5400
0.2
0.1
1.2
0.0
0.0
169.0
0.0
AMARANTH caudatus
0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
AMARANTH, tender gangeticus
5520
0.0
0.3
1.2
149.0
41.0
99.0
31.0
AMARANTH, stem gangeticus
255
0.0
0.2
0.0
0.0
0.0
10.0
0.0
AMARANTH, paniculatus
14190
0.0
0.2
1.1
0.0
0.0
81.0
0.0
AMARANTH, polygonoides
0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
AMARANTH, spinosus
3564
0.0
0.0
0.0
0.0
0.0
33.0
0.0
AMARANTH species (Chakravarthikeerai)
0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
AMARANTH species (koyakeerai)
0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
AMARANTH tristis
0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
AMARANTH, viridis
0
0.0
0.0
0.0
0.0
0.0
179.0
0.0
AMBAT CHUKA
3660
0.0
0.1
0.2
125.0
40.0
12.0
0.0
BATHUA LEAVES
1740
0.0
0.1
0.6
0.0
0.0
35.0
0.0
BEET GREENS
5862
0.3
0.6
3.3
0.0
0.0
70.0
0.0
BENGAL GRAM LEAVES
0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
BETEL LEAVES
5760
0.1
0.0
0.7
0.0
0.0
5.0
0.0
BOTTLE GOURD LEAVES
0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
BROAD BEAN LEAVES
0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
BRUSSELS SPROUTS
126
0.1
0.2
0.4
0.0
0.0
72.0
0.0
CABBAGE
120
0.1
0.1
0.4
23.0
13.3
124.0
120.0
CARROT LEAVES
5700
0.0
0.4
2.1
0.0
0.0
79.0
0.0
CAULIFLOWER LEAVES
0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
CELERY LEAVES
3990
0.0
0.1
1.2
0.0
0.0
62.0
0.0
CELERY STALK
520
0.1
0.1
0.3
0.0
0.0
6.0
0.0
CHEKKUR MANIS
5706
0.5
0.3
2.6
0.0
0.0
247.0
0.0
COLOCASIA LEAVES (black variety)
12000
0.1
0.5
1.9
0.0
0.0
63.0
0.0
COLOCASIA LEAVES (green variety)
10278
0.2
0.3
1.1
0.0
0.0
12.0
0.0
COLACASIA LEAVES (dried)
0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
CORIANDER LEAVES
6918
0.1
0.1
0.8
0.0
0.0
135.0
0.0
COW PEA LEAVES
6702
0.1
0.2
0.6
0.0
0.0
4.0
0.0
CURRY LEAVES
7560
0.1
0.2
2.3
93.9
23.5
4.0
0.0
DRUMSTICK LEAVES
6780
0.1
0.1
0.8
0.0
0.0
220.0
0.0
FENUGREEK LEAVES
2340
0.0
0.3
0.8
0.0
0.0
52.0
0.0
FETID CASSIA, fresh
10152
0.1
0.2
0.8
0.0
0.0
82.0
0.0
FETID CASSIA (dried)
0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
GARDEN CRESS
0
0.1
0.0
0.0
0.0
0.0
0.0
0.0
GARDEN SORREL (sepals)
0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
GOGU
2898
0.1
0.4
1.1
0.0
0.0
20.0
0.0
IPOMOEA STEMS
0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
IPOMOEA LEAVES
1980
0.1
0.1
0.6
0.0
0.0
37.0
0.0
KNOL-KHOL GREENS
4146
0.3
0.0
3.0
0.0
0.0
157.0
0.0
KUPPAMENI
0
0.0
0.0
0.0
0.0
0.0
147.0
0.0
LETTUCE
990
0.1
0.1
0.5
0.0
0.0
10.0
178.0
LETTUCE TREE LEAVES, mature
0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
LETTUCE TREE LEAVES, tender
0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
MENATHAKKALI LEAVES
0
0.0
0.6
0.9
0.0
0.0
11.0
0.0
MAYALU
7440
0.0
0.2
0.5
0.0
0.0
87.0
0.0
MINT
1620
0.1
0.3
1.0
114.0
9.7
27.0
0.0
MODAKANTHAN KEERAI
0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
MUKARRATE KEERAI
0
0.0
0.0
0.0
0.0
0.0
27.0
0.0
MUSTARD LEAVES
2622
0.0
0.0
0.0
0.0
0.0
33.0
0.0
NEERINGI
0
0.0
0.0
0.0
0.0
0.0
41.0
0.0
PARSLEY
1920
0.0
0.2
0.5
0.0
0.0
281.0
0.0
PARUPPU KEERAI
100
0.1
0.2
0.7
0.0
0.0
29.0
0.0

# 01

In [19]:
base_url = "http://218.248.6.43:8080/CountWhatYouEat/vitamincontentfoods.do?"

all_data = []

for page_number in range(1, 8):  
    url = base_url + "d-16460-p=" + str(page_number)

    response = requests.get(url)

    soup = BeautifulSoup(response.content, "html.parser")

    table = soup.find("table", {"id": "ite"})

    data = []
    headers = []
    rows = table.find_all("tr")
    for i, row in enumerate(rows):
        if i == 0:
            headers = [header.text for header in row.find_all("th")]
        else:
            data.append([cell.text for cell in row.find_all("td")])

    all_data.extend(data)

df = pd.DataFrame(all_data, columns=headers)

print(df)

         \nFood Name \nCarotene(µg) \nThiamine(mg) \nRiboflavin(mg)  \
0              BAJRA            132            0.3              0.3
1             BARLEY             10            0.5              0.2
2     ITALIAN MILLET             32            0.6              0.1
3              JOWAR             47            0.4              0.1
4          MAIZE,dry             90            0.4              0.1
..               ...            ...            ...              ...
635             SIRK              0            0.0              0.0
636       STAR APPLE              0            0.0              0.0
637  THAVITTU PAZHAM             44            0.1              0.0
638            TUMKI            361            0.0              0.0
639     VIKKI PAZHAM            190            0.0              0.1

    \nNiacin(mg) \nFolicacid(mg) \nFolicfree(mg) \nVitamin-C(mg)  \
0            2.3            45.5            14.7             0.0
1            5.4             0.0             0.0             0.0
2            3.2            15.0             4.2             0.0
3            3.1            20.0            14.0             0.0
4            1.8            20.0            14.0             0.0
..           ...             ...             ...             ...
635          0.0             0.0             0.0             0.0
636          0.0             0.0             0.0             0.0
637          0.3             0.0             0.0             0.0
638          2.3             0.0             0.0             1.0
639          0.3             0.0             0.0             0.0

    \nCholine-(mg)
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
..             ...
635            0.0
636            0.0
637            0.0
638            0.0
639            0.0

[640 rows x 9 columns]

In [20]:
df.tail()

,\nFood Name,\nCarotene(µg),\nThiamine(mg),\nRiboflavin(mg),\nNiacin(mg),\nFolicacid(mg),\nFolicfree(mg),\nVitamin-C(mg),\nCholine-(mg)
635,SIRK,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
636,STAR APPLE,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
637,THAVITTU PAZHAM,44,0.1,0.0,0.3,0.0,0.0,0.0,0.0
638,TUMKI,361,0.0,0.0,2.3,0.0,0.0,1.0,0.0
639,VIKKI PAZHAM,190,0.0,0.1,0.3,0.0,0.0,0.0,0.0

In [21]:
df.duplicated().sum()

70

In [22]:
639-70

569

In [23]:
df.columns = [
    "Food Name",
    "Carotene(µg)",
    "Thiamine(mg)",
    "Riboflavin(mg)",
    "Niacin(mg)",
    "Folicacid(mg)",
    "Folicfree(mg)",
    "Vitamin-C(mg)",
    "Choline-(mg)"
]

In [25]:
df.drop_duplicates(inplace = True)
df.to_csv("Vitamins.csv" , index = False)

In [26]:
df.to_csv("Vitamins(1).csv" , index = False)

# 02

In [31]:
base_url = "http://218.248.6.43:8080/CountWhatYouEat/mineraltraceelements.do?"

all_data = []

for page_number in range(1, 8):  
    url = base_url + "d-16460-p=" + str(page_number)

    response = requests.get(url)

    soup = BeautifulSoup(response.content, "html.parser")

    table = soup.find("table", {"id": "ite"})

    data = []
    headers = []
    rows = table.find_all("tr")
    for i, row in enumerate(rows):
        if i == 0:
            headers = [header.text for header in row.find_all("th")]
        else:
            data.append([cell.text for cell in row.find_all("td")])

    all_data.extend(data)

df = pd.DataFrame(all_data, columns=headers)

print(df)

         \nFood Name \nMagn-esium \nSodium \nPotassium \nCopper \nMang-anese  \
0              BAJRA        137.0     10.9       307.0      1.1          1.2
1             BARLEY         21.0      0.0         0.0      1.2          1.0
2     ITALIAN MILLET         81.0      4.6       250.0      1.4          0.6
3              JOWAR        171.0      7.3       131.0      0.5          0.8
4          MAIZE,dry        139.0     15.9       286.0      0.4          0.5
..               ...          ...      ...         ...      ...          ...
661             SIRK          0.0      0.0         0.0      0.0          0.0
662       STAR APPLE          0.0      0.0         0.0      0.0          0.0
663  THAVITTU PAZHAM         30.0      7.7       106.0      0.2          0.0
664            TUMKI          0.0      0.0         0.0      0.0          0.0
665     VIKKI PAZHAM         37.0      3.9       435.0      0.1          0.0

    \nMolyb-denum \nZinc \nChromium \nSulphur \nChlorine \nCalcium  \
0             0.1    3.1        0.0     147.0       39.0      42.0
1             0.0    1.2        0.0     130.0       91.0      26.0
2             0.1    2.4        0.0     171.0       37.0      31.0
3             0.0    1.6        0.0      54.0       44.0      25.0
4             0.0    2.8        0.0     114.0       33.0      10.0
..            ...    ...        ...       ...        ...       ...
661           0.0    0.0        0.0       0.0        0.0     270.0
662           0.0    0.0        0.0       0.0        0.0       5.0
663           0.0    0.0        0.0      30.0       19.0      40.0
664           0.0    0.0        0.0       0.0        0.0      60.0
665           0.0    0.0        0.0      68.0       85.0      37.0

    \nPhosp-horus \nIron
0           296.0    8.0
1           215.0   1.67
2           290.0    2.8
3           222.0    4.1
4           348.0    2.3
..            ...    ...
661          94.0    0.0
662          10.0    0.0
663          15.0    0.9
664          20.0    0.5
665          26.0  311.0

[666 rows x 14 columns]

In [32]:
df.columns = [
    "Food Name",
    "Magnesium",
    "Sodium",
    "Potassium",
    "Copper",
    "Manganese",
    "Molybdenum",
    "Zinc",
    "Chromium",
    "Sulphur",
    "Chlorine",
    "Calcium",
    "Phosphorus",
    "Iron"
]

In [33]:
df.head()

,Food Name,Magnesium,Sodium,Potassium,Copper,Manganese,Molybdenum,Zinc,Chromium,Sulphur,Chlorine,Calcium,Phosphorus,Iron
0,BAJRA,137.0,10.9,307.0,1.1,1.2,0.1,3.1,0.0,147.0,39.0,42.0,296.0,8.0
1,BARLEY,21.0,0.0,0.0,1.2,1.0,0.0,1.2,0.0,130.0,91.0,26.0,215.0,1.67
2,ITALIAN MILLET,81.0,4.6,250.0,1.4,0.6,0.1,2.4,0.0,171.0,37.0,31.0,290.0,2.8
3,JOWAR,171.0,7.3,131.0,0.5,0.8,0.0,1.6,0.0,54.0,44.0,25.0,222.0,4.1
4,"MAIZE,dry",139.0,15.9,286.0,0.4,0.5,0.0,2.8,0.0,114.0,33.0,10.0,348.0,2.3

In [34]:
df.duplicated().sum()

83

In [35]:
df.drop_duplicates(inplace= True)
df.to_csv("Minerals.csv" , index = False)

# 06

In [48]:
base_url = "http://218.248.6.43:8080/CountWhatYouEat/dietaryfibre.do?"

all_data = []

for page_number in range(1, 8):  
    url = base_url + "d-16460-p=" + str(page_number)

    response = requests.get(url)

    soup = BeautifulSoup(response.content, "html.parser")

    table = soup.find("table", {"id": "ite"})

    data = []
    headers = []
    rows = table.find_all("tr")
    for i, row in enumerate(rows):
        if i == 0:
            headers = [header.text for header in row.find_all("th")]
        else:
            data.append([cell.text for cell in row.find_all("td")])

    all_data.extend(data)

df = pd.DataFrame(all_data, columns=headers)

print(df)

              \nFood Name             \nFood Category \nTDF(g) \nIDF(g)  \
0                   BAJRA  cereal_grains_and_products    11.30     9.10
1                   JOWAR  cereal_grains_and_products     9.70     8.00
2             MAIZE (dry)  cereal_grains_and_products    11.90    11.00
3                    RAGI  cereal_grains_and_products    11.50     9.90
4    RICE ( raw – milled)  cereal_grains_and_products     4.10     3.20
..                    ...                         ...      ...      ...
131         KEERA (green)            other_vegetables     1.10     0.80
132         CARAWAY SEEDS          nuts_and_oil_seeds    38.80    33.10
133              CINNAMOM          nuts_and_oil_seeds    48.50    44.60
134         LENTIL (dhal)          pulses_and_legumes    10.30     8.30
135    BLACK GRAM (whole)          pulses_and_legumes    20.30    15.40

    \nSDF(g)
0       2.20
1       1.70
2       0.90
3       1.60
4       0.90
..       ...
131     0.30
132     5.70
133     3.90
134     2.00
135     4.90

[136 rows x 5 columns]

In [49]:
df.columns = [
    "Food Name",
    "Food Category",
    "TDF(g)",
    "IDF(g)",
    "SDF(g)"
]

In [50]:
df.duplicated().sum()

30

In [51]:
df.drop_duplicates(inplace = True)
df.to_csv("DietaryFibre.csv" , index = False)

# 08

In [52]:
base_url = "http://218.248.6.43:8080/CountWhatYouEat/essentialaminoacids.do?"

all_data = []

for page_number in range(1, 8):  
    url = base_url + "d-16460-p=" + str(page_number)

    response = requests.get(url)

    soup = BeautifulSoup(response.content, "html.parser")

    table = soup.find("table", {"id": "ite"})

    data = []
    headers = []
    rows = table.find_all("tr")
    for i, row in enumerate(rows):
        if i == 0:
            headers = [header.text for header in row.find_all("th")]
        else:
            data.append([cell.text for cell in row.find_all("td")])

    all_data.extend(data)

df = pd.DataFrame(all_data, columns=headers)

print(df)

    \nFood Code             \nFood Name \nTotal N \nArginine \nHistidine  \
0             1                   BAJRA      1.86        300         140
1             2                  BARLEY      1.84        300         180
2             3          ITALIAN MILLET      1.97        220         130
3             4                   JOWAR      1.66        240         160
4             5               MAIZE,dry      1.78        290         160
..          ...                     ...       ...        ...         ...
245         552       OKRA (whole seed)       0.0        860         220
246         553           OKRA (kernel)       0.0        850         200
247         555    MARKING NUT (kernel)      4.22        600         110
248         591  YEAST, dried (Brewers)      6.32        310         160
249         721       GOA BEANS (tuber)       0.0        275         103

    \nLysine \nTrypt-ophan \nPhenyl-alanine \nTyrosine \nMethi-onine  \
0        190           110              290        200           150
1        230           100              310        180           100
2        140            60              420          0           180
3        150            70              300        180           100
4        200            40              290        240           120
..       ...           ...              ...        ...           ...
245      580           110              250        180           140
246      540           120              290        200           130
247      260            60              220          0            90
248      570             0              300        260           100
249      318             0              306        212           162

    \nCystine \nThre-onine \nLeucine \nIsole-ucine \nValine
0         110          240       750           260      330
1         100          200       420           240      310
2         100          190      1040           480      430
3          90          210       880           270      340
4         100          280       720           240      300
..        ...          ...       ...           ...      ...
245         0          220       450           260      360
246       230            0       490           250      300
247         0          130       460           270      300
248        60          350       500           370      460
249         0          325         0           262      343

[250 rows x 15 columns]

In [53]:
df.duplicated().sum()

125

In [54]:
df.columns = [
    "Food Code",
    "Food Name",
    "Total N",
    "Arginine",
    "Histidine",
    "Lysine",
    "Tryptophan",
    "Phenylalanine",
    "Tyrosine",
    "Methionine",
    "Cystine",
    "Threonine",
    "Leucine",
    "Isoleucine",
    "Valine"
]

In [55]:
df.head()

,Food Code,Food Name,Total N,Arginine,Histidine,Lysine,Tryptophan,Phenylalanine,Tyrosine,Methionine,Cystine,Threonine,Leucine,Isoleucine,Valine
0,1,BAJRA,1.86,300,140,190,110,290,200,150,110,240,750,260,330
1,2,BARLEY,1.84,300,180,230,100,310,180,100,100,200,420,240,310
2,3,ITALIAN MILLET,1.97,220,130,140,60,420,0,180,100,190,1040,480,430
3,4,JOWAR,1.66,240,160,150,70,300,180,100,90,210,880,270,340
4,5,"MAIZE,dry",1.78,290,160,200,40,290,240,120,100,280,720,240,300

In [58]:
df.drop_duplicates(inplace = True)

In [60]:
df.shape

(125, 15)

In [62]:
df.to_csv("EssentialAminoAcids.csv" , index = False)

# 09

In [63]:
base_url = "http://218.248.6.43:8080/CountWhatYouEat/fatfattyacidfoods.do?"

all_data = []

for page_number in range(1, 8):  
    url = base_url + "d-16460-p=" + str(page_number)

    response = requests.get(url)

    soup = BeautifulSoup(response.content, "html.parser")

    table = soup.find("table", {"id": "ite"})

    data = []
    headers = []
    rows = table.find_all("tr")
    for i, row in enumerate(rows):
        if i == 0:
            headers = [header.text for header in row.find_all("th")]
        else:
            data.append([cell.text for cell in row.find_all("td")])

    all_data.extend(data)

df = pd.DataFrame(all_data, columns=headers)

print(df)

               \nFood Name \nFat \nPalmitic \nStearic \nArachidic \nBehenic  \
0                    BAJRA   5.5        1.0      0.24         0.0       0.0
1                    JOWAR   3.3        0.5      0.07         0.0       0.0
2              MAIZE (dry)   4.8        0.7       0.2         0.0       0.0
3                     RAGI   1.5        0.3      0.02         0.0       0.0
4      RICE (raw - milled)   1.7        0.4      0.05         0.0       0.0
5            WHEAT (whole)   2.9        0.4       0.1         0.0       0.0
6      BENGAL GRAM (whole)   6.9        0.5      0.07         0.0       0.0
7                   COWPEA   2.9        0.6       0.1         0.0      0.08
8       GREEN GRAM (whole)   1.7        0.4      0.05         0.0       0.0
9                   LENTIL   2.0        0.2      0.04         0.0      0.04
10                  RAJMAH   2.2        0.3      0.04         0.0      0.03
11                SOYABEAN  20.0        1.4       0.8         0.0       0.0
12                  POTATO  17.0        2.2      0.34         0.0       0.0
13           COCONUT (dry)  40.0        3.5       1.7         0.0       0.0
14          GINGELLY SEEDS  40.0        4.0       1.6         0.0       0.0
15               GROUNDNUT  40.0        4.0       1.6         0.0       0.0
16           MUSTARD SEEDS  40.0        0.4       0.2         0.0       0.0
17          CHILLIES (dry)   9.0        0.3      0.08         0.0       0.0
18          CORIANDER SEED  10.0        0.9       0.3         0.0       0.0
19             CUMIN SEEDS  20.0       0.06       0.1         0.0       0.0
20         FENUGREEK SEEDS  40.0        8.0       4.0         0.0       0.0
21                  BUTTER   0.0       29.4      13.5         0.0       0.0
22  OTHER LEAFY VEGETABLES   0.4       0.05      0.01         0.0     0.027
23        OTHER VEGETABLES   0.6       0.15     0.002         0.0       0.0
24           GROUNDNUT OIL   0.0       12.6       1.7         4.2       2.1
25           SUNFLOWER OIL   0.0        5.6       2.2         0.9       0.0
26             MUSTARD OIL   0.0        2.9       0.9         6.9       0.0
27             COCONUT OIL   0.0        7.8       2.3         0.0       0.0
28            GINGELLY OIL   0.0        9.7       4.0         0.0       0.0
29           SOYA BEAN OIL   0.0        9.8       2.4         0.9       0.0
30           RICE BRAN OIL   0.0       19.5       2.6         0.0       0.0
31           PALMOLEIN OIL   0.0       42.3       3.5         0.0       0.0
32         COTTON SEED OIL   0.0       23.4       1.1         1.3       0.0
33      BLACK GRAM (whole)   1.7        0.2      0.05         0.0       0.0
34                CORN OIL   0.0       10.7       1.7         0.0       0.0
35               OLIVE OIL   0.0       12.5       2.3         0.0       0.0
36                PALM OIL   0.0       42.0       4.3         0.0       0.0
37           SAFFLOWER OIL   0.0        7.8       2.1         0.8       0.0
38                    LARD   0.0       26.2      20.0         0.0       0.0
39                  TALLOW   0.0       27.9      21.3         0.0       0.0
40        RED GRAM (whole)   2.2        0.4      0.08         0.0       0.0
41                     PEA   2.1        0.2      0.06         0.0       0.0
42           BEANS (FRESH)   0.2       0.04     0.007         0.0       0.0
43        RED GRAM (whole)   2.2        0.4      0.08         0.0       0.0
44                     PEA   2.1        0.2      0.06         0.0       0.0
45           BEANS (FRESH)   0.2       0.04     0.007         0.0       0.0
46        RED GRAM (whole)   2.2        0.4      0.08         0.0       0.0
47                     PEA   2.1        0.2      0.06         0.0       0.0
48           BEANS (FRESH)   0.2       0.04     0.007         0.0       0.0
49        RED GRAM (whole)   2.2        0.4      0.08         0.0       0.0
50                     PEA   2.1        0.2      0.06         0.0       0.0
51           BEANS (FRESH)   0.2       0.04     0.007         0.0       0.0
52        RED GRAM (whole)   2.2        0.4      0.08         0.0       0.0
53                     PEA   2.1        0.2      0.06         0.0       0.0
54           BEANS (FRESH)   0.2       0.04     0.007         0.0       0.0
55        RED GRAM (whole)   2.2        0.4      0.08         0.0       0.0
56                     PEA   2.1        0.2      0.06         0.0       0.0
57           BEANS (FRESH)   0.2       0.04     0.007         0.0       0.0

   \nLigno-ceric \nTotal Satur-ates \nPalmi-toleic \nOleic  \
0            0.0               1.24            0.0     1.2
1            0.0               0.57            0.0     1.0
2            0.0                0.9            0.0     1.1
3            0.0               0.32            0.0     0.7
4            0.0               0.45            0.0     0.4
5            0.0                0.5            0.0     0.3
6            0.0               0.57            0.0     1.2
7            0.0                0.8            0.0     0.2
8            0.0               0.45            0.0    0.05
9            0.0                0.3            0.0     0.4
10           0.0                0.4            0.0     0.2
11           0.0                2.2            0.0     5.4
12           0.0               2.54            0.0     1.8
13           0.0                8.8            0.0    21.0
14           0.0                6.0            0.0    18.0
15           0.0                6.0            0.0    18.0
16           0.0                2.0            0.0     5.0
17           0.0               0.38            0.0     4.7
18           0.0                1.2            0.0     1.5
19           0.0                0.7            0.0    12.5
20           0.0               36.0            0.0     3.2
21           0.0               69.4            0.0    28.0
22           0.0               0.09            0.0   0.025
23           0.0              0.152            0.0    0.15
24           0.3               20.9            1.4    47.9
25           0.4                9.1            0.0    25.1
26           0.0               10.7            0.6     8.9
27           0.0               89.5            0.0     7.8
28           0.0               13.7            0.1    41.2
29           0.0               13.1            0.0    28.9
30           0.0               22.1            0.0    41.0
31           0.0               47.7            0.4    41.0
32           0.1               25.9            0.0    22.9
33           0.0                0.3            0.0     0.2
34           0.0               12.7            0.0    29.6
35           0.0               14.8            0.0    74.5
36           0.0               46.3           43.7     0.0
37           0.0               10.7            0.0    16.7
38           0.0               46.2            0.0  99.999
39           0.0               54.9            0.0    40.9
40           0.0               0.48            0.0     0.1
41           0.0               0.26            0.0     0.4
42           0.0              0.047            0.0   0.009
43           0.0               0.48            0.0     0.1
44           0.0               0.26            0.0     0.4
45           0.0              0.047            0.0   0.009
46           0.0               0.48            0.0     0.1
47           0.0               0.26            0.0     0.4
48           0.0              0.047            0.0   0.009
49           0.0               0.48            0.0     0.1
50           0.0               0.26            0.0     0.4
51           0.0              0.047            0.0   0.009
52           0.0               0.48            0.0     0.1
53           0.0               0.26            0.0     0.4
54           0.0              0.047            0.0   0.009
55           0.0               0.48            0.0     0.1
56           0.0               0.26            0.0     0.4
57           0.0              0.047            0.0   0.009

   \nTotal Mono Unsa-turates \nLinoleic \nAlpha Lino-lenic  \
0                        1.2        2.2               0.13
1                        1.0        1.5               0.05
2                        1.1        2.2               0.05
3                        0.7        0.3               0.05
4                        0.4        0.5               0.01
5                        0.3        1.1               0.17
6                        1.2        3.5                0.2
7                        0.2        0.8                0.5
8                       0.05        0.6                0.2
9                        0.4        0.8               0.16
10                       0.2        0.5                0.7
11                       5.4       10.4                1.4
12                       1.9        9.1               0.26
13                      21.0       10.0                0.2
14                      18.0       16.0                0.4
15                      18.0       16.0                0.4
16                      27.0        5.0                3.5
17                       4.7        2.1               0.48
18                       1.5        3.4                1.9
19                      12.5        3.0               0.02
20                       3.2        0.6                0.0
21                      28.0        2.5                0.0
22                     0.025       0.04               0.15
23                      0.15       0.08               0.06
24                      49.3       29.9                0.0
25                      25.1       66.2                0.0
26                      56.0       18.1               14.5
27                       7.8        2.0                0.0
28                      41.3       44.5                0.0
29                      28.9       50.7                6.5
30                      41.0       34.3                1.4
31                      41.4       10.3                0.3
32                      22.9       50.9                0.0
33                       0.2        0.1                0.7
34                      29.6       57.4                0.0
35                      74.5       10.0                0.0
36                      43.7       10.0                0.0
37                      16.7       73.5                0.0
38                      45.2       11.0                0.0
39                      40.9        4.2                0.0
40                       0.1        0.1                0.1
41                       0.4        0.8               0.15
42                     0.009       0.07               0.04
43                       0.1        0.1                0.1
44                       0.4        0.8               0.15
45                     0.009       0.07               0.04
46                       0.1        0.1                0.1
47                       0.4        0.8               0.15
48                     0.009       0.07               0.04
49                       0.1        0.1                0.1
50                       0.4        0.8               0.15
51                     0.009       0.07               0.04
52                       0.1        0.1                0.1
53                       0.4        0.8               0.15
54                     0.009       0.07               0.04
55                       0.1        0.1                0.1
56                       0.4        0.8               0.15
57                     0.009       0.07               0.04

   \nTotal Poly Unsaturates
0                      2.33
1                      1.55
2                      2.25
3                      0.35
4                      0.51
5                      1.27
6                       3.7
7                       1.3
8                       0.8
9                      0.96
10                      1.2
11                     11.8
12                     9.36
13                     10.2
14                     16.4
15                     16.4
16                      8.5
17                     2.58
18                      5.3
19                     3.02
20                      0.6
21                      2.5
22                     0.19
23                     0.14
24                     29.9
25                     66.2
26                     32.6
27                      2.0
28                     44.5
29                     57.2
30                     35.7
31                     10.6
32                     50.9
33                      0.8
34                     57.4
35                     10.0
36                     10.0
37                     73.5
38                     11.0
39                      4.2
40                      1.1
41                     0.95
42                     0.11
43                      1.1
44                     0.95
45                     0.11
46                      1.1
47                     0.95
48                     0.11
49                      1.1
50                     0.95
51                     0.11
52                      1.1
53                     0.95
54                     0.11
55                      1.1
56                     0.95
57                     0.11

In [65]:
df.head()

,\nFood Name,\nFat,\nPalmitic,\nStearic,\nArachidic,\nBehenic,\nLigno-ceric,\nTotal Satur-ates,\nPalmi-toleic,\nOleic,\nTotal Mono Unsa-turates,\nLinoleic,\nAlpha Lino-lenic,\nTotal Poly Unsaturates
0,BAJRA,5.5,1.0,0.24,0.0,0.0,0.0,1.24,0.0,1.2,1.2,2.2,0.13,2.33
1,JOWAR,3.3,0.5,0.07,0.0,0.0,0.0,0.57,0.0,1.0,1.0,1.5,0.05,1.55
2,MAIZE (dry),4.8,0.7,0.2,0.0,0.0,0.0,0.9,0.0,1.1,1.1,2.2,0.05,2.25
3,RAGI,1.5,0.3,0.02,0.0,0.0,0.0,0.32,0.0,0.7,0.7,0.3,0.05,0.35
4,RICE (raw - milled),1.7,0.4,0.05,0.0,0.0,0.0,0.45,0.0,0.4,0.4,0.5,0.01,0.51

In [66]:
df.duplicated().sum()

15

In [67]:
df.shape

(58, 14)

In [71]:
df.columns = [
    "Food Name",
    "Fat",
    "Palmitic",
    "Stearic",
    "Arachidic",
    "Behenic",
    "Lignoceric",
    "Total Saturates",
    "Palmitoleic",
    "Oleic",
    "Total Mono Unsaturates",
    "Linoleic",
    "Alpha Linolenic",
    "Total Poly Unsaturates"
]

In [72]:
df.drop_duplicates(inplace = True)
df.to_csv("FatFattyAcidFoods.csv" , index = False)

# rest

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

# 03

In [12]:
import requests
from bs4 import BeautifulSoup

url = "http://218.248.6.43:8080/CountWhatYouEat/carbohydrates.do?d-16460-p=1"

response = requests.get(url)
html_content = response.text

soup = BeautifulSoup(html_content, 'html.parser')

data = []

table_rows = soup.find_all('tr')
for row in table_rows:
    foodname_input = row.find('input', {'type': 'hidden', 'name': 'fn', 'id': 'foodname'})
    if foodname_input:
        foodname = foodname_input.find_next('input')['value']
        value_td = row.find('td', text=True)
        value = value_td.text
        data.append((foodname, value))

print(data)

[('BAJRA', '67.5'), ('BARLEY', '69.6'), ('ITALIAN MILLET', '60.9'), ('JOWAR', '72.6'), ('MAIZE,dry', '66.2'), ('MAIZE, tender', '24.6'), ('PANIVARAGU', '70.4'), ('RAGI', '72.0'), ('RICE, parboiled, handpounded', '77.4'), ('RICE, parboiled,milled', '79.0'), ('RICE, raw, handpounded', '76.7'), ('RICE, raw, milled', '78.2'), ('RICE, bran', '48.4'), ('RICE, flakes', '77.3'), ('RICE, puffed', '73.6'), ('SAMAI', '67.0'), ('SANWA MILLET', '65.5'), ('VARAGU', '65.9'), ('WHEAT, bulgar (parboiled)', '77.2'), ('WHEAT, whole', '71.2'), ('WHEAT, flour(whole)', '69.4'), ('WHEAT, flour(refined)', '73.9'), ('WHEAT, germ', '53.3'), ('WHEAT, semolina', '74.8'), ('WHEAT, vermicelli', '78.3'), ('WHEAT, bread, (brown)', '49.0'), ('WHEAT, bread, (white)', '51.9'), ('BENGAL GRAM, whole', '60.9'), ('BENGAL GRAM, dhal', '59.8'), ('BENGAL GRAM, roasted', '58.1'), ('BLACK GRAM, dhal', '59.6'), ('COWPEA', '54.5'), ('FIELD BEAN, dry', '60.1'), ('GREEN GRAM, whole', '56.7'), ('GREEN GRAM, dhal', '59.9'), ('HORSE GRAM, whole', '57.2'), ('KHESARI, dhal', '56.6'), ('LENTIL', '59.0'), ('MOTH BEANS', '56.5'), ('PEAS green', '15.9'), ('PEAS, dry', '56.5'), ('PEAS, roasted', '58.8'), ('RAJMAH', '60.6'), ('RED GRAM, dhal', '57.6'), ('RED GRAM, tender', '16.9'), ('SOYABEAN', '20.9'), ('AGATHI', '11.8'), ('AMARANTH caudatus', '2.0'), ('AMARANTH, tender gangeticus', '6.1'), ('AMARANTH, stem gangeticus', '3.5'), ('AMARANTH, paniculatus', '8.6'), ('AMARANTH, polygonoides', '4.8'), ('AMARANTH, spinosus', '7.0'), ('AMARANTH species (Chakravarthikeerai)', '8.5'), ('AMARANTH species (koyakeerai)', '5.3'), ('AMARANTH tristis', '7.4'), ('AMARANTH, viridis', '3.8'), ('AMBAT CHUKA', '1.4'), ('BATHUA LEAVES', '2.9'), ('BEET GREENS', '6.5'), ('BENGAL GRAM LEAVES', '14.1'), ('BETEL LEAVES', '6.1'), ('BOTTLE GOURD LEAVES', '6.1'), ('BROAD BEAN LEAVES', '11.5'), ('BRUSSELS SPROUTS', '7.1'), ('CABBAGE', '4.6'), ('CARROT LEAVES', '13.1'), ('CAULIFLOWER LEAVES', '7.6'), ('CELERY LEAVES', '1.6'), ('CELERY STALK', '3.5'), ('CHEKKUR MANIS', '11.6'), ('COLOCASIA LEAVES (black variety)', '8.1'), ('COLOCASIA LEAVES (green variety)', '6.8'), ('COLACASIA LEAVES (dried)', '42.3'), ('CORIANDER LEAVES', '6.3'), ('COW PEA LEAVES', '4.1'), ('CURRY LEAVES', '18.7'), ('DRUMSTICK LEAVES', '12.5'), ('FENUGREEK LEAVES', '6.0'), ('FETID CASSIA, fresh', '5.5'), ('FETID CASSIA (dried)', '43.5'), ('GARDEN CRESS', '8.7'), ('GARDEN SORREL (sepals)', '5.1'), ('GOGU', '9.9'), ('IPOMOEA STEMS', '3.4'), ('IPOMOEA LEAVES', '3.1'), ('KNOL-KHOL GREENS', '6.4'), ('KUPPAMENI', '6.0'), ('LETTUCE', '2.5'), ('LETTUCE TREE LEAVES, mature', '10.2'), ('LETTUCE TREE LEAVES, tender', '3.2'), ('MENATHAKKALI LEAVES', '8.9'), ('MAYALU', '4.2'), ('MINT', '5.8'), ('MODAKANTHAN KEERAI', '9.1'), ('MUKARRATE KEERAI', '7.2'), ('MUSTARD LEAVES', '3.2'), ('NEERINGI', '8.6'), ('PARSLEY', '13.5'), ('PARUPPU KEERAI', '2.9')]

In [15]:
url = "http://218.248.6.43:8080/CountWhatYouEat/carbohydrates.do?d-16460-p=1"

response = requests.get(url)
html_content = response.text

soup = BeautifulSoup(html_content, 'html.parser')

data = []

table_rows = soup.find_all('tr')
for row in table_rows:
    foodname_input = row.find('input', {'type': 'hidden', 'name': 'fn', 'id': 'foodname'})
    if foodname_input:
        foodname = foodname_input.find_next('input')['value']
        value_td = row.find('td', text=True)
        value = value_td.text
        data.append({'Foodname': foodname, 'Value': value})

df = pd.DataFrame(data)
print(df)
df.head()

            Foodname Value
0              BAJRA  67.5
1             BARLEY  69.6
2     ITALIAN MILLET  60.9
3              JOWAR  72.6
4          MAIZE,dry  66.2
..               ...   ...
95  MUKARRATE KEERAI   7.2
96    MUSTARD LEAVES   3.2
97          NEERINGI   8.6
98           PARSLEY  13.5
99    PARUPPU KEERAI   2.9

[100 rows x 2 columns]

         Foodname Value
0           BAJRA  67.5
1          BARLEY  69.6
2  ITALIAN MILLET  60.9
3           JOWAR  72.6
4       MAIZE,dry  66.2

In [16]:
#extracting all of 7 pages

In [18]:
base_url = "http://218.248.6.43:8080/CountWhatYouEat/carbohydrates.do?d-16460-p={}"

data = []

for page in range(1, 8): 
    url = base_url.format(page)
    response = requests.get(url)
    html_content = response.text

    soup = BeautifulSoup(html_content, 'html.parser')

    table_rows = soup.find_all('tr')
    for row in table_rows:
        foodname_input = row.find('input', {'type': 'hidden', 'name': 'fn', 'id': 'foodname'})
        if foodname_input:
            foodname = foodname_input.find_next('input')['value']
            value_td = row.find('td', text=True)
            value = value_td.text
            data.append({'Foodname': foodname, 'Value': value})

df = pd.DataFrame(data)
df.head()

         Foodname Value
0           BAJRA  67.5
1          BARLEY  69.6
2  ITALIAN MILLET  60.9
3           JOWAR  72.6
4       MAIZE,dry  66.2

In [20]:
df.columns= [
    "Food Name",
    "Carbohydrate Value"
]

In [21]:
df.drop_duplicates(inplace = True)
df.to_csv("Carbohydrate.csv" , index = False)

# 04

In [38]:
base_url = "http://218.248.6.43:8080/CountWhatYouEat/energy.do?d-16460-p={}"

data = []

for page in range(1, 8): 
    url = base_url.format(page)
    response = requests.get(url)
    html_content = response.text

    soup = BeautifulSoup(html_content, 'html.parser')

    table = soup.find('table', {'id': 'ite'})
    table_rows = table.find_all('tr')
    for row in table_rows:
        foodname_input = row.find('input', {'type': 'hidden', 'name': 'fn', 'id': 'foodname'})
        if foodname_input:
            foodname = foodname_input.find_next_sibling('input')['value']
            value_td = row.find('td', text=True)
            value = value_td.text
            data.append({'Foodname': foodname, 'Value': value})

df = pd.DataFrame(data)
df.head()

         Foodname  Value
0           BAJRA  361.0
1          BARLEY  336.0
2  ITALIAN MILLET  331.0
3           JOWAR  349.0
4       MAIZE,dry  342.0

In [39]:
df.tail()

        Foodname  Value
596  Common salt    0.0
597       Pappad  288.0
598    AJINAMOTO    0.0
599      VINEGAR   20.0
600   SOYA SAUCE  100.0

In [40]:
df.shape

(601, 2)

In [42]:
df.columns = [
    "Food Name",
    "Energy Value"
]
df.drop_duplicates(inplace = True)
df.to_csv("EnergyValue.csv" , index = False)

# 05

In [44]:
base_url = "http://218.248.6.43:8080/CountWhatYouEat/fat.do?d-16460-p={}"

data = []

for page in range(1, 8): 
    url = base_url.format(page)
    response = requests.get(url)
    html_content = response.text

    soup = BeautifulSoup(html_content, 'html.parser')

    table = soup.find('table', {'id': 'ite'})
    table_rows = table.find_all('tr')
    for row in table_rows:
        foodname_input = row.find('input', {'type': 'hidden', 'name': 'fn', 'id': 'foodname'})
        if foodname_input:
            foodname = foodname_input.find_next_sibling('input')['value']
            value_td = row.find('td', text=True)
            value = value_td.text
            data.append({'Foodname': foodname, 'Value': value})

df = pd.DataFrame(data)
df.head()

         Foodname Value
0           BAJRA   5.0
1          BARLEY   1.3
2  ITALIAN MILLET   4.3
3           JOWAR   1.9
4       MAIZE,dry   3.6

In [45]:
df.tail()

        Foodname Value
596  Common salt   0.0
597       Pappad   0.3
598    AJINAMOTO   0.0
599      VINEGAR   0.0
600   SOYA SAUCE   0.0

In [47]:
df.shape

(601, 2)

In [48]:
df.columns = [
    "Food Name",
    "Fat Value",
]
df.drop_duplicates(inplace = True)
df.to_csv("FatValue.csv" , index = False)

# 07

In [51]:
base_url = "http://218.248.6.43:8080/CountWhatYouEat/protein.do?d-16460-p={}"

data = []

for page in range(1, 8): 
    url = base_url.format(page)
    response = requests.get(url)
    html_content = response.text

    soup = BeautifulSoup(html_content, 'html.parser')

    table = soup.find('table', {'id': 'ite'})
    table_rows = table.find_all('tr')
    for row in table_rows:
        foodname_input = row.find('input', {'type': 'hidden', 'name': 'fn', 'id': 'foodname'})
        if foodname_input:
            foodname = foodname_input.find_next_sibling('input')['value']
            value_td = row.find('td', text=True)
            value = value_td.text
            data.append({'Foodname': foodname, 'Value': value})

df = pd.DataFrame(data)
df.head()

         Foodname Value
0           BAJRA  11.6
1          BARLEY  11.5
2  ITALIAN MILLET  12.3
3           JOWAR  10.4
4       MAIZE,dry  11.1

In [52]:
df.tail()

        Foodname Value
596  Common salt   0.0
597       Pappad  18.8
598    AJINAMOTO   0.0
599      VINEGAR   0.0
600   SOYA SAUCE   6.7

In [54]:
df.columns = [
    "Food Name",
    "Protein Value",
]

df.drop_duplicates(inplace = True)
df.to_csv("ProteinValue.csv" , index = False)